.input{
    width: 300px;
    height: 25px;
    margin: 10px;
}


.selectBox{
    width: 100px;
    height: 30px;
    margin-bottom: 120px;
}


.button{
    background: #1976d2;
    color: #fff;
    margin: 10px;
    width: 10;
    padding: 12px;
    font-size: 18px;
    
}



.boardName{
    background-color: #1976d2;
}